{
  "parser": "@typescript-eslint/parser",
  "extends":  [
    "plugin:@typescript-eslint/recommended",  // Uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "rules": {
    "semi": 2,
    // "no-console":"warn",
    "quotes": [
      2,
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ]
  },
  "parserOptions": {
    "requireConfigFile": false
  }
}
